<div>
    <div class="row">
        <div class="col-xl-10"><h1>Manage Employees</h1></div>
        <div class="col-xl-2"><button nbButton style="margin-top: 1em; margin-bottom: 1em;"status="success">Add Employee</button></div>
    </div>
    <div class="row">
        <div class="col-xl-8">

            <nb-card>

            <nb-list>
                <nb-list-item *ngFor="let worker of employeeList">
                    <span style="width: 90%;"><nb-user [name]="worker.name" [title]="worker.title"></nb-user></span>
                    
                    <span style="width: auto;">
                        <nb-actions size="small">
                            <nb-action icon="edit-outline"></nb-action>
                            <nb-action icon="info-outline"></nb-action>
                          </nb-actions>
                    
                    </span>
                </nb-list-item>
                
    
    
            </nb-list>
    
    
        </nb-card>
        </div>
        <div class="col-xl-4">
            <nb-card>
                <nb-card-header>Statistics</nb-card-header>
            </nb-card>

        </div>
    </div>
</div>