<nb-layout>

  <nb-layout-header fixed>

          <nb-actions style="width: 100%;" size="small">
            <nb-action icon="menu-outline" (click)="toggleSidebar()"></nb-action>
            <nb-action icon="bulb-outline" (click)="toggleTheme()"></nb-action>
            <nb-action style="font-size: 1.2em;">Workhorse</nb-action> 
            <nb-action style="float: right;"> <nb-user name="John Deere"></nb-user> </nb-action>
          </nb-actions>
     
  </nb-layout-header>


<nb-layout-column> <router-outlet></router-outlet></nb-layout-column>
  <nb-layout-footer>
  HackED 2021
  </nb-layout-footer>
  <nb-sidebar>  <nb-menu [items]="items">
  </nb-menu></nb-sidebar>
</nb-layout>
